body {
    background-color: white ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* home.html */


.intro {
    width: 100%;
    max-width: 1200px;
}

.prop {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    align-items: flex-start;
}

.wel {
    color: #0a2540;
    width: auto;
    max-width: 1200px;
    font-size: 1rem;
    text-align: center;
    
}

h4 {
    color: #333333;
    font-size: 0.8rem;
    text-align: center;
    font-weight: lighter;
    width: auto;
    
}

.h_2 {
    color: #0a2540;
    width: auto;
    max-width:1200px;
    font-size: 1rem;
    padding-top: 2rem;
    text-align: center;
}

.man-h3 {
    color: #0a2540;
    width: 100%;
    max-width: 1200px;
    font-size: 1rem;
    padding-top: 2rem;
    text-align: center;
}

.key {
    color: #0a2540;
    width: 100%;
    max-width: 1200px;
    font-size: 1rem;
    text-align: center;
    padding-top: 2rem;
}
.abt-p {
    color: #333333;
    font-size: 0.8rem;
    text-align: center;
    font-weight: lighter;
    width: auto;
}
header {
    display: flex;
}

.features {
    background-color: #0a2540;
    color: white;
    min-width: 350px;
    width: auto;
    height: auto;
    min-height: 400px;
    margin-top: 10px;
    border-radius: 10px;
}

li {
   padding: 1rem 1rem;
    
}

ul {
    padding-top: 10px;
    list-style: none;
}

.man1 {
    background-color: #0a2540;
    color: white;
    width: auto;
    min-width: 150px;
    height: auto;
    min-height: 100px;
    border-radius: 10px;
    margin: 1rem 1rem;
    
}

.man_con {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

p {
    text-align: center;
    padding-top: 7px;
}

.fot {
    width: 100%;
    max-width: 1200px;
}

.foot {
    text-align: center;
    padding: 0 1.5rem;
    font-size: 1rem;
}

@media only screen and (min-width:481px) and (max-width:767px) {
    .key {
        width: 100%;
    }

    .features {
        width: 100%;
        text-align: center;
    }

    .wel {
        width: 100%;
    }

    .h_2 {
        width: 100%;
    }

    .man_con {
        display: flex;
        justify-content: space-around;
        justify-content: center;
    }

    .man1 {
        margin: 1rem 3rem;
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) {
    .features {
        width: 100%;
        text-align: center;
    }

    .man1 {
        margin: 1rem 3rem;
    }

    .man_con {
        display: flex;
        justify-content: center;
        justify-content: space-around;
    }
}

@media only screen and (min-width:1025px) and (max-width:1280px) {
     .intro {
        max-width: 1280px;
        width: 100%;
     }

     .key {
        max-width: 1280px;
        width: 100%;
     }

     .man-h3 {
        max-width: 1280px;
        width: 100%;
     }

     .features {
        width: 100%;
        text-align: center;
    }

    .man1 {
        margin: 1rem 8rem;
    }

    .man_con {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .fot {
        width: 100%;
        max-width: 1280px;
}

    .foot {
        text-align: center;
        padding: 0 4.5rem;
        font-size: 1rem;
}

}

@media only screen and (min-width:1281px) {
    .intro {
        max-width: none;
        width: 100%;
     }

     .wel {
        font-size: 1.5rem;
     }

     h4 {
        font-size: 1rem;
        width: 100%;
     }

     .h_2 {
        font-size: 1.5rem;
     }

     .abt-p {
        font-size: 1rem;
     }

     .key {
        max-width: none;
        width: 100%;
        font-size: 1.5rem;
     }

     li {
        font-size: 1rem;
     }

     .man-h3 {
         max-width: none;
         width: 100%;
         font-size: 1.5rem;
     }

     .features {
        width: 100%;
        text-align: center;
    }

    .man1 {
        margin: 1rem 8rem;
        min-width: 250px;
    }

    .man_con {
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .fot {
        width: 100%;
        max-width: none;
}

    .foot {
        text-align: center;
        padding: 0 4.5rem;
        font-size: 1rem;
}

    h2 {
        font-size: 1.5rem;
    }

}