{% include 'flash.html' %}
{% include 'header.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='admin_pass.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='header.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='flash.css')}}">
<div class="ad-pas">
 <form action="" method="post">
    <h2 class="admin_h2">ADMIN LOGIN FORM</h2>
    <br>
    <label for="username">Enter Username:</label> 
    <br>
    <input type="text" id="username" name="manager_username">
    <br>

    <label for="password">Enter Password:</label>
    <br>
    <input type="password" id="password" name="manager_pass">
    <br>
    
    <button class="but" type="submit">Submit</button>
 </form>
</div>
{% include 'footer.html' %}