{% include 'flash.html' %}
{% include 'header.html' %}
<link rel="stylesheet" href="{{url_for('static', filename='admin.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='header.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='footer.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='employee.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='flash.css')}}">
<div class="h2_con">
   <h2 class="admn_h2">EMPLOYEE PAGE</h2>
</div>
<p class="ad_p">Welcome, {{name}}</p>
<div class="admin_con">
    <div class="admin_link">
        <a href="{{url_for('clock_in')}}">
            <p class="admin_p">Clock In</p>
        </a>
    </div>
    <div class="admin_link">
        <a href="{{url_for('applications')}}">
            <p class="admin_p"> Applications</p>
        </a>
    </div>
    <div class="admin_link">
        <a href="{{url_for('app_update')}}">
            <p class="admin_p">Applications Update</p>
        </a>
    </div>
    <div class="admin_link">
        <a href="{{url_for('req_sal')}}">
            <p class="admin_p">Request Salary</p>
        </a>
    </div>
    <div class="admin_link">
        <a href="{{url_for('bal')}}">
            <p class="admin_p">Check Balance</p>
        </a>
    </div>
</div>
{% include 'footer.html' %}