<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
</head>
<body>
    <div class="header">
        <div class="title_con">
            <h2 class="titl">HR Simulator</h2>
        </div>
        <div class="link">
            <a class="emp" href="{{url_for('login')}}">
                <p class="empp">Employee Login</p>
            </a>
            <a class="emp" href="{{url_for('admin_login')}}">
                <p class="empp">Admin</p>
            </a>
        </div>
    </div>
</body>